<nav class=" flex items-center justify-between flex-wrap px-5 py-3 border-b">
  <div class="flex items-center">
    <a href="/">
    <img class="transform scale-50 rounded-full border-2 border-pink-300" src="{{ profilepic }}"/>
    </a>
    <a href="/" class="font-medium text-xl tracking-tight">ihojm</a>
  </div>
  {% set navPages = collections.pages | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a href="{{ entry.url }}" class="text-sm py-1 px-2 rounded mr-4 inline-block
                                 {{ ' underline-magenta' if entry.url in page.url
                                 else 'text-gray-700 hover:text-gray-900' }}">
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>