<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
  <body>
    {# {% include "../_includes/components/navigation.njk" %} #}
    <main class="p-12 prose mx-auto">
      <h2 class="text-3xl mb-8">{{ title }}</h2>
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>