---
title: Home
layout: base.njk
templateEngineOverride: njk,md
---
Hi, my name is Ianiv. Besides Computer Science and 
programming, two things that I enjoy, I really love [making music](https://soundcloud.com/ianiv/popular-tracks), [reading books](../books),
 writing and going for a walk.  

 I'm using this space on the Internet as a way to document different aspects of my creative venues, and share it with others. In other words, as a way to communicate with other people, including a future me.  

I also enjoy talking to people I don't know, so if you are one of them don't hesitate to reach out, just do it.  

 I live in Santiago, Chile.